.padding-20 {
  padding: 20px 0 !important;
}

.mt-8 {
  margin-top: 8rem;
}

.mb-4 {
  margin-bottom: 4rem;
}

.jokes,
.favourites {
  padding-right: 0 !important;
  padding-bottom: 8rem;
}
.jokes ul,
.favourites ul {
  border-left: 1px solid #dddddd;
  border-right: 1px solid #dddddd;
  list-style: none;
  padding: 0;
  margin: 0;
}

.jokes ul li,
.favourites ul li {
  padding: 20px 0 20px 10px;
  border-bottom: 1px solid #dddddd;
}

.login-modal-backdrop {
  position: fixed;
  background: rgba(0, 0, 0, 0.3);
  padding: 50px;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
}

.login-modal-content {
  background-color: #fff;
  border-radius: 5px;
  max-width: 300px;
  max-height: 300px;
  margin: 10rem auto;
  display: block;
  padding: 30px;
}

.footer-content {
  font-size: 15px;
  color: #fff;
}
